<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>Dealership Review</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>
    <script>
        $('.datepicker').datepicker({
            format: 'mm/dd/yyyy',
            startDate: '-3d'
        });
   </script>
</head>
    <body>
        <form action="{% url 'djangoapp:addreview' dealerID %}" method="post">
            <div class="container">
                
              <h1><b>Add a review about Sub-Ex Car Dealership</b></h1>
              <hr>
              <div class="form-group">
                <label for="reviewcontent">Enter the review content</label>
                <textarea class="form-control" name ="review" id="review_text" rows="4"></textarea>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" name="purchase" id="purchased_selection">
                <label class="form-check-label" for="has_purchased">
                    Has Purchased the car from Sub-Ex Car Dealership ? 
                    <p class="text-muted"> (select purchased car information below if checked) </p>
                </label>
              </div>              

            </br>
              <div class="form-group col-md-4">
                <label for="car_make_label"><b> Select your car<b> </label>
                <select name="car" id="car" class="form-select" required>
                    {% for car in cars%}
                        <option selected value={{car.id}} name="car"
                        >{{car.name}}--{{car.carmodels.name}}--{{car.year}}</option>
                    {% endfor %}
               </select>
              </div>
            </br> 
            <input type="date" name="purchase_date" required pattern="\d{4}-\d{2}-\d{2}">
            </br> 
             </br> 
              <div>
                {% csrf_token %}
                <button class="Submit" type="submit">Add Review</button>
            </div>

            </div>
          </form>
    </body>
</html>