<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>

    <!--Add a nav bar here -->
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-left">
                {% if user.is_authenticated %}
                <li>
                    <a class="btn btn-link" href="{% url 'djangoapp:addreview' dealerID %}">Add Review</a>
                </li>
                {% else %}
                <li>
                    <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Username" name="username" >
                            <input type="password" class="form-control" placeholder="Password" name="psw" >
                            <button class="btn btn-primary" type="submit">Login</button>
                            <a class="btn btn-link" href="{% url 'djangoapp:index' %}">Sign Up</a>
                        </div>
                    </form>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <!-- Add reviews as cards -->
    {% for review in reviews %}
    <div class="card-columns">
        <div class="card">
            {% if review.sentiment == "positive" %}
                <p>
                <img class="card-img-left" src="{{MEDIA_URL}}/emoji/positive.png" 
                width="50" height="50" alt="Card image cap">
                </p>
            {% elif review.sentiment == "negative" %}
                <p>
                <img class="card-img-left" src="{{MEDIA_URL}}/emoji/negative.png" 
                width="50" height="50" alt="Card image cap">
                </p>
            {% else %}  
                <p>
                <img class="card-img-left" src="{{MEDIA_URL}}/emoji/neutral.png" 
                width="50" height="50" alt="Card image cap">
                </p>
            {% endif %}
            
            <div class="card-body">
                <h5> {{review.name}}</h5>
                <h5> {{review.purchase_date_year}}</h5>
            </div>
            <div class="card-text">
                <p>{{review.review}}</p>
            </div>
        </div>
    </div>
    {% endfor %}

    </body>

</html>